<<<<<<< HEAD
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /*min-width: 980px;*/
    font-family: HelveticaNeue;
}

h1,
h2,
h3 {
    font-weight: 900;
}


/* Fonts */

@font-face {
    font-family: 'Eina';
    src: url('../fonts/Eina/Eina01-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('../fonts/Eina/Eina01-SemiBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('../fonts/Eina/Eina01-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Eina';
    src: url('../fonts/Eina/Eina01-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/Helvetica/helveticaneue.eot');
    src: url('../fonts/Helvetica/helveticaneue.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica/helveticaneue.woff') format('woff'), url('../fonts/Helvetica/helveticaneue.ttf') format('truetype'), url('../fonts/Helvetica/helveticaneue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../fonts/Helvetica/helveticaneueultralight.eot');
    src: url('../fonts/Helvetica/helveticaneueultralight.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica/helveticaneueultralight.woff') format('woff'), url('../fonts/Helvetica/helveticaneueultralight.ttf') format('truetype'), url('../fonts/Helvetica/helveticaneueultralight.svg#HelveticaNeueUltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

.elevation {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06)
=======
body{
   font-family: 'Myriad Pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
>>>>>>> f0ef6798a2e36e69e2866b07ea8f8806a7a50f0b
}